<div class="container">
    <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onForgotPasswordFormSubmit()" class="sign-in-form">
        <div class="card">
            <div class="card-body">
     
                <h3 class="sign-in-heading text-center">{{title}}</h3>
                <p class="text-center text-muted">Enter your email to reset your password</p>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" placeholder="Email Address" formControlName="email" class="form-control"  required="">
                    <div *ngIf="ForgotPasswordForm.get('email').errors && isSubmitted">  
                        <div *ngIf="ForgotPasswordForm.get('email').hasError('required')">  
                          <span style="color: red;">Please Enter Email.</span>  
                        </div>  
                        <div *ngIf="ForgotPasswordForm.get('email').hasError('minlength')">  
                          <span style="color: red;">The email requied atleast 5 characters.</span>  
                        </div>  
                        <div *ngIf="ForgotPasswordForm.get('email').hasError('maxlength')">  
                          <span style="color: red;">The email requied only 30 characters.</span>  
                        </div>  
                        <div *ngIf="ForgotPasswordForm.get('email').hasError('pattern')">  
                          <span style="color: red;">The Email is not valid.</span>  
                        </div>  
                    </div>
                </div>
                <button class="btn btn-primary btn-rounded btn-floating btn-lg btn-block" type="submit">Reset Password</button>
                <p class="text-muted m-t-25 m-b-0 p-0">
                    <a [routerLink]="['/auth/login']" style="float:right;"> Back to Login</a>
                </p>
               
            </div>
        </div>
    </form>
</div>